@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-bg {
  background-image: url(../../public/assets/banner_bg.jpg);
}

/* Hero-Main-BG  */
.hero-main {
  background-image: url('../../public/assets/Background/heromainbg.svg');
  background-size: cover;
  background-position-y: center;
  background-position-x: center;
  background-repeat: no-repeat;
}

/* Footer-Background-Set */
.bg-image-two {
  background-image: url('../../public/assets/Background/footer-bg1.svg');
  background-size: cover;
  background-position-y: center;
  background-position-x: center;
  background-repeat: no-repeat;
}

/* About-Background-Set */
.about-bg {
  background-image: url('../../public/assets/Background/aboutbg.svg');
  background-size: cover;
  background-position-y: center;
  background-position-x: center;
  background-repeat: no-repeat;
}

/* Conceptual-Section-Bg  */
.bg-conceptual {
  background-image: url('../../public/assets/Background/concepbg.svg');
  background-size: contain;
  background-position-y: center;
  background-position-x: center;
  background-repeat: no-repeat;
}

/* Slider-CSS  */
.slide {
  margin-left: 2%;
}
.slider {
  display: flex;
  animation: slide 20s infinite;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: slide;
  /* animation-timeline: auto;
  animation-range-start: normal;
  animation-range-end: normal; */
}
@keyframes slide {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-50%);
  }
}
.plain-bg {
  background-image: url('../../public/assets/Background/aeroplane.svg');
  background-size: cover;
  background-position-y: center;
  background-position-x: center;
  background-repeat: no-repeat;
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

.detailsbox {
  background-color: #f7fafc;
  box-shadow: 0 0 2rem 0 rgba(136, 152, 170, 0.15);
  display: flex;
  flex-direction: column;
  min-width: 0;
  background-clip: initial;
  word-wrap: break-word;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 0.375rem;
  margin: 50px 20px;
}

.detailsbox .boxheader {
  padding: 20px 25px;
  background-color: white;
  border-radius: calc(0.375rem - 1px) calc(0.375rem - 1px) 0 0;
  box-shadow: 0 1px 3px rgba(50, 50, 93, 0.15), 0 1px 0 rgba(0, 0, 0, 0.02);
}

.detailsbox .boxheader h3 {
  color: rgb(50, 50, 93);
  font-size: 30px;
  font-weight: 600;
  line-height: 25.5px;
  margin: 0;
  padding: 0;
  text-align: center;
}

.detailsbox .boxheader p {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-size: 0.75rem;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #8898aa;
  font-weight: 600;
  line-height: 1.5;
}
.detailsbox .boxbody {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.5rem;
}

.detailsbox .boxbody > div h6 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-size: 1.25rem;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #8898aa;
  margin-bottom: 1.5rem;
  font-weight: 600;
  line-height: 1.5;
}

.detailsbox .boxbody > div .formdetails {
  padding-left: 1.5rem;
}

.detailsbox .boxbody > div .formdetails .form-group {
  margin-bottom: 1.5rem;
}

.detailsbox .boxbody > div .formdetails .form-group label {
  color: #525f7f;
  font-size: 0.875rem;
  font-weight: 600;
  display: inline-block;
  margin-bottom: 0.5rem;
}

.detailsbox .boxbody > div .formdetails .form-group input {
  box-shadow: 0 1px 3px rgba(50, 50, 93, 0.15), 0 1px 0 rgba(0, 0, 0, 0.02);
  border: 0;
  font-size: 0.875rem;
  display: block;
  width: 100%;
  height: calc(1.5em + 1.25rem + 2px);
  padding: 0.625rem 0.75rem;
  font-weight: 400;
  line-height: 1.5;
  color: #8898aa;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 0.375rem;
}

.detailsbox .boxbody > div .formdetails .form-group input:focus {
  outline: none;
  color: #000000;
  box-shadow: 0 3px 3px rgba(50, 50, 93, 0.15), 0 3px 0 rgba(0, 0, 0, 0.02);
  transition: box-shadow 0.15s ease;
}

.detailsbox .save {
  background-color: green;
  border: 0;
  padding: 10px 20px;
  float: right;
  color: white;
  border-radius: 10px;
}

.detailsbox .save:hover {
  background-color: rgb(4, 90, 4);
  transition: all 0.5s ease;
}

@media screen and (max-width: 991px) {
  .detailsbox .boxbody > div .formdetails {
    padding-left: 0;
  }
}
